@tailwind base;
@tailwind components;
@tailwind utilities;


.motto{
    padding: 100px;
}

.motto h1{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homelink:hover{
    color: rgb(1, 194, 81);
}

.spin{
    animation: spin 6s infinite ease-in;
}


@keyframes spin {
    0%, 100%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(-2deg);
    }
}


input::placeholder{
    font-size: 12px;
}
th{
    font-size: 13px;
}

.pexels{
    background-image: linear-gradient(rgba(255, 255, 255, .5),rgba(255,255,255, .5)), url('/src/assets/pexels.jpg');
    background-size: cover;
    height: 500px;
}